.fontBase {
    font-family: 'Roboto';
    color: white;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 500;
}
.carouselSlideImage {
    width: 100%;
    height: auto;
}
.carouselSlideTitle {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Roboto';
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 500;
    color: rgb(250, 195, 67);
    background-color: rgba(0,0,0,0.1);
}
.carouselSlideTitleTop {
    top: 5%;
}
.carouselSlideTitleBottom {
    top: 95%;
}
.carouselSlideTitleTopDirectionVertical {
    top: 10%;
}
.carouselSlideTitleBottomDirectionVertical {
    top: 90%;
}
.carouselSlideText {
    position: absolute;
    left: 0;
    right: 0;
    text-align: justify;
    padding: 5%;
    background-color: rgba(0,0,0,0.25);
    font-family: 'Roboto';
    color: white;
    letter-spacing: 3px;
    line-height: 1.75;
    font-weight: 500;
    font-size: 0.66rem;
}

@media only screen and (max-width: 1280px) {
    .carouselSlideText {
        height: 30%;
        line-height: 1.5;
    }
    .carouselSlideTextTitleTop {
        top: 44%;
    }
    .carouselSlideTextTitleBottom {
        top: 51%;
    }
    .carouselSlideTextTitleTopDirectionVertical {
        top: 50%;
    }
    .carouselSlideTextTitleBottomDirectionVertical {
        top: 40%;
    }
    .carouselSlideTitleTop {
        top: 5%;
    }
    .carouselSlideTitleBottom {
        top: 90%;
        bottom: 1%;
        padding-top: 0.25rem;
    }
    .carouselSlideTitleTopDirectionVertical {
        top: 7%;
    }
    .carouselSlideTitleBottomDirectionVertical {
        top: 89%;
    }
}
@media only screen and (max-width: 960px) {
    .carouselSlideText {
        height: 81.2%;
        padding: 5% 10%;
        letter-spacing: 2px;
        line-height: 1.25;
    }
    .carouselSlideTextTitleTop {
        top: 29%;
    }
    .carouselSlideTextTitleBottom {
        top: 0%;
    }
    .carouselSlideTextTitleTopDirectionVertical {
        top: 32%;
    }
    .carouselSlideTextTitleBottomDirectionVertical {
        top: 10%;
    }
    .carouselSlideTitleTop {
        top: 5%;
    }
    .carouselSlideTitleBottom {
        top: 88%;
        bottom: 1%;
        padding-top: 0.25rem;
    }
    .carouselSlideTitleTopDirectionVertical {
        top: 8%;
    }
    .carouselSlideTitleBottomDirectionVertical {
        top: 85%;
    }
}
@media only screen and (max-width: 600px) {
    .carouselSlideTextTitleTopDirectionVertical {
        top: 22%;
        padding: 5% 10%;
        letter-spacing: 1px;
        line-height: 1;
    }
    .carouselSlideTextTitleBottomDirectionVertical {
        top: 8%;
    }
    .carouselSlideTitleTop {
        top: 5%;
    }
    .carouselSlideTitleBottom {
        top: 85.5%;
        bottom: 1.5%;
        padding-top: 0.25rem;
    }
    .carouselSlideTitleTopDirectionVertical {
        top: 14%;
    }
    .carouselSlideTitleBottomDirectionVertical {
        top: 80%;
    }
}
@media only screen and (min-width: 1281px) {
    .carouselSlideText {
        height: 27%;
    }
    .carouselSlideTextTitleTop {
        top: 61%;
    }
    .carouselSlideTextTitleBottom {
        top: 54.1%;
    }
    .carouselSlideTextTitleTopDirectionVertical {
        top: 64%;
    }
    .carouselSlideTextTitleBottomDirectionVertical {
        top: 58%;
    }
    .carouselSlideTitleTop {
        top: 5%;
    }
    .carouselSlideTitleBottom {
        top: 90%;
        bottom: 1%;
        padding-top: 0.25rem;
    }
    .carouselSlideTitleTopDirectionVertical {
        top: 7%;
    }
    .carouselSlideTitleBottomDirectionVertical {
        top: 90%;
    }
}

@-webkit-keyframes carouselSlideFade {
    from {opacity: 0} 
    to {opacity: 1}
}
@keyframes carouselSlideFade {
    from {opacity: 0} 
    to {opacity: 1}
}

.carouselSlideAnimation {
    -webkit-animation-name: carouselSlideFade;
    -webkit-animation-duration: 1s;
    animation-name: carouselSlideFade;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
