.sign-up-link {
  display: inline-block;
  color: rgba(255,255,255,1.0);
  text-decoration: none;
  cursor: pointer;
  font-family: Calibri sans-serif monospace;
  font-size: 1em;
  font-weight: 600;
  transform: scale(.9, 1);
}

.sign-up-label {
  display: inline-block;
  color: white;
  font-size: 0.86em;
  font-family: Calibri sans-serif monospace;
  font-weight: 600;
  margin: 0 0 0.25em 0.125em;
  transform: scale(.9, 1);
}

.sign-up-checkbox-label {
  display: inline-block;
  color: white;
  font-size: 0.86em;
  font-family: Calibri sans-serif monospace;
  font-weight: 600;
  margin: 0 0.25em 0.125em;
  transform: scale(.9, 1);
}

.text-bold-md {
  font-size: 1em;
}


.sign-up-text {
  color: white;
  font-family: Calibri sans-serif monospace;
  font-size: 0.70em;
  line-height: 2em;
  transform: scale(.9, 1);
  letter-spacing: 1px;
  margin-left: -2.66rem;
  margin-right: -2.66rem;
}

.text-small {
  font-size: 0.7em;
}

.text-medium {
  font-size: 1em;
}

.text-large {
  font-size: 1.25em;
}


.text-justify {
  text-align: justify;
}