.sign-in-base {
  outline: none;
  position: relative;
  top: 4em;
}

.sign-in-textbackground {
  background-color: rgba(0, 0, 0, 0.5);
}

.sign-in-navbar {
  text-align: center;
  margin-bottom: 0.75em;
  min-width: 40%;
}

.sign-in-navlink {
  color: rgba(255,255,255,0.9);
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: Calibri sans-serif monospace;
  padding: 0.25em;
  margin: 0 0.5em;
  font-variant: small-caps;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  transform: scale(.9, 1);
}

.sign-in-link {
  display: inline-block;
  color: rgba(255,255,255,1.0);
  text-decoration: none;
  cursor: pointer;
  font-family: Calibri sans-serif monospace;
  font-size: 1em;
  font-weight: 600;
  transform: scale(.9, 1);
}

.sign-in-form {
  margin: 1em 0 0 0;
}

.sign-in-label {
  display: inline-block;
  color: white;
  font-size: 0.86em;
  font-family: Calibri sans-serif monospace;
  font-weight: 600;
  margin: 0 0 0.25em 0.125em;
  transform: scale(.9, 1);
}

.sign-in-input {
  font-size: 0.75em;
  padding: 1.8em 1.1em;
  color: #5b6670;
  border-radius: 0.75em;
  font-family: Calibri sans-serif monospace;
}

.sign-in-divider {
  border: 1px solid white;
  margin: 0 0.25em;
}

.sign-in-card {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 15px;
  width: 54.5%;
  margin: auto;
  padding: 3.5em 4.25em 3.5em 3.75em;
  outline: none;
  position: relative;
}

.sign-in-button {
  color: white;
  background-color: #f5bf1d;
  border-color: #f5bf1d;
  border-radius: 2px;
  padding: 1.25em 4.5em;
  color: white;
  font-size: 0.5em;
  font-family: Calibri sans-serif monospace;
  font-weight: 600;
  font-variant: small-caps;
}

.triangle {
  position: absolute;
  margin: auto;
  top: -7px;
  left: 0;
  right: 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  border-right: 2.5px solid white;
  border-bottom: 2.5px solid white;
  width: 12px;
  height: 12px;
}

.margin-divider-vertical {
  margin-top: 2.25em;
}

.card-border-bottom {
  position: absolute;
  margin: auto;
  bottom: -2px;
  left: 30%;
  width: 40%;
  border-bottom: 3px solid white;
}

.card-border-top-1 {
  position: absolute;
  margin: auto;
  top: -2px;
  left: 30%;
  width: 19.3%;
  border-top: 3px solid white;
}

.card-border-top-2 {
  position: absolute;
  margin: auto;
  top: -2px;
  left: 50.7%;
  width: 19.3%;
  border-top: 3px solid white;
}

.card-border-left {
  position: absolute;
  margin: auto;
  left: -2px;
  top: 15%;
  height: 70%;
  border-left: 3px solid white;
}

.card-border-right {
  position: absolute;
  margin: auto;
  right: -2px;
  top: 15%;
  height: 70%;
  border-right: 3px solid white;
}

.sign-in-checkbox-container {
  display: inline;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sign-in-checkbox-label {
  color: white;
  font-size: 1em;
  font-family: Calibri sans-serif monospace;
  font-weight: 600;
  transform: scale(.9, 1);
}

.sign-in-checkbox {
  cursor: pointer;
  margin-right: 1em;
}
